<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
    <body style="font-family:arial">
        <table cellspacing="0" cellpadding="0" width="650px" style="padding: 0;border-collapse:collapse; margin: 0 auto;" border="0">
            <tbody>
                <tr>
                    <td height="50"></td>
                </tr>
                <tr>
                    <td bgcolor="#238ab4">
                        <table cellspacing="0" cellpadding="0" width="580px" style="padding: 0;border-collapse:collapse; margin: 35px 15px 35px 35px; "border="0">
                            <tbody style="background-color:#f7f7f7; border-bottom:1px solid #238ab4; text-align:center">
                                <tr>
                                    <td style="text-align:center; background-color:#f7f7f7; padding: 7px 0;">
                                        <div class="text-center logo-wrap">
                                            <img src="<%= user.logoPath %>" alt="logo.png" width="250" height="auto">
                                        </div>
                                    </td>
                                </tr>
                                <tr style="height:50px">
                                    <td>
                                        <span style="font-size:24px; color:#238ab4; font-weight: 600;">Reset Password</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="margin-bottom:0px; font-size:18px; font-weight:bold; color: #505050">
                                        Hi, <span><%= user.first_name %> </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="margin: 9px 30px 40px; line-height:22px; font-size:14px; color: #505050; letter-spacing: 1px;"> 
                                        
                                            We've received a request to reset your password. Click on the below link
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td style="margin: 9px 30px 40px; line-height:22px; font-size:14px; color: #505050; letter-spacing: 1px;">

                                            <a href=""><%= user.email %></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="margin: 9px 30px 40px; line-height:22px; font-size:14px; color: #505050; letter-spacing: 1px;">

                                            If you didn't make the request, just ignore this email. Otherwise, you can reset your password using this link.
                                        

                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td>                                
                                        <a style="color: #fff; background: #238ab4; padding: 10px 14px; text-decoration: none; font-weight: 600" href="<%= user.set_password_url %>">Reset Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="40"></td>
                                </tr>

                                <tr>
                                    <td style="margin: 45px 0 14px; font-size:14px; color:#238ab4;">Copyright © <%= user.year %>
                                        FiveTwo All Rights Reserved.
                                    </td>
                                </tr>
                            </tbody>    
                        </table>
                    </td>
                </tr>
            </tbody>    
        </table>
    </body>
</html>